* {
    padding: 10px; /* 添加單位(px) */
    margin: 10px; /* 添加單位(px) */
}
body {
  background-image:url("123/螢幕擷取畫面 2024-04-07 204826.png");
   background-repeat:no-repeat;
   background-size:cover;
   background-position: center;
}
