* {
    padding: 5px; /* 添加單位(px) */
    margin: 10px; /* 添加單位(px) */
}
body{
background-image: url("123/roblox.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
a{
    color: #ffffff;
}
header
{     
    background-image: url("123/roblox 1.png");
     height: 90px;
     width: 100%;
}
