* {
    box-sizing: border-box;
    padding: 0; /* 修改为 0 确保全局统一 */
    margin: 0; /* 修改为 0 确保全局统一 */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgba(102, 7, 107, 0.958);
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0; /* 默認為0高度 */
    overflow: hidden;
    opacity: 0;
}

header nav ul.active {
    max-height: 500px; /* 展開時的最大高度 */
    opacity: 1;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header .menu {
    display: none;
}

main {
    padding-top: 100px; /* 确保内容不会被固定的导航栏遮挡 */
}

.a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    color: beige;
    font-size: 55px;
    height: 85vh;
    background-image: url("123/螢幕擷取畫面 2024-04-07 204826.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.b {
    background-color: rgb(34, 0, 69);
    text-align: center;
    padding: 20px;
}

.b .social-links a {
    margin: 0 10px;
}

.b .social-links img {
    width: 50px;
    height: 50px;
}

footer {
    background-color: rgb(129, 129, 235);
    text-align: center;
    padding: 20px;
    color: #fff;
}

/* CSS 響應式設計 */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        width: 100%;
        background-color: rgba(102, 7, 107, 0.958);
        position: absolute;
        top: 90px;
        left: 0;
        padding: 0;
    }

    header nav ul.active {
        display: flex;
    }

    header nav ul li {
        text-align: center;
        margin: 10px 0;
    }

    .menu {
        display: block;
        background-color: transparent;
        color: #ffffff;
        font-size: 35px;
        border: none;
        cursor: pointer;
    }
}
